<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <main>

    <h1><%= locals.title ?? '' %></h1>

    <ul>
      <li><a href="/">Forsíða</a></li>
      <li><a href="/leikir">Leikir</a></li>
      <li><a href="/stada">Staða</a></li>
    </ul>
