<%- include('header') -%>

<form method="post" action="/login" autocomplete="off">
  <label>Notendanafn: <input type="text" name="username"></label>
  <label>Lykilorð: <input type="password" name="password"></label>
  <button>Innskrá</button>
</form>

<%- include('footer') -%>
